@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans7pt-Light.eot');
    src: url('NunitoSans7pt-Light.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans7pt-Light.woff2') format('woff2'),
        url('NunitoSans7pt-Light.woff') format('woff'),
        url('NunitoSans7pt-Light.ttf') format('truetype'),
        url('NunitoSans7pt-Light.svg#NunitoSans7pt-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans10pt-SemiBold.eot');
    src: url('NunitoSans10pt-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans10pt-SemiBold.woff2') format('woff2'),
        url('NunitoSans10pt-SemiBold.woff') format('woff'),
        url('NunitoSans10pt-SemiBold.ttf') format('truetype'),
        url('NunitoSans10pt-SemiBold.svg#NunitoSans10pt-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans';
    src: url('NunitoSans10pt-ExtraBold.eot');
    src: url('NunitoSans10pt-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('NunitoSans10pt-ExtraBold.woff2') format('woff2'),
        url('NunitoSans10pt-ExtraBold.woff') format('woff'),
        url('NunitoSans10pt-ExtraBold.ttf') format('truetype'),
        url('NunitoSans10pt-ExtraBold.svg#NunitoSans10pt-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

