.dark-mode {
	--background: hsl(207, 26%, 17%);
	--background-elements: hsl(209, 23%, 22%);
	--text: hsl(0, 0%, 100%);
	--input-text: hsl(0, 0%, 100%);
	--elements: hsl(209, 23%, 22%);
	--input: hsl(209, 23%, 22%);
}

.container {
	display: flex;
	justify-content: center;
	height: 100vh;
	color: var(--text);
	background-color: var(--background);
}

.loading {
	margin-top: 1rem;
}
