.container {
	display: flex;
	justify-content: center;
	padding: 2rem 2rem;
	background-color: var(--background);
	color: var(--input-text);
}

.countries-list {
	margin-top: 3rem;
	display: flex;
	justify-content: center;
}

li {
	list-style-type: none;
}

.loading {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	height: 100vh;
	color: var(--text);
}