@import url('./assets/fonts/fonts.css');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--text: hsl(200, 15%, 8%);
	--input-text: hsl(0, 0%, 52%);
	--background: hsl(0, 0%, 98%);
	--background-elements: hsl(0, 0%, 100%);
}



/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%) */

body {
	font-family: 'Nunito Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
